* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.star {
  margin-left: 300px;
  margin-top: 70px;
}

.kode-form.address {
  width: 100%;
}

.kode-form.address input {
  min-width: 100%;
}
.kode {
  text-align: center;
  color: #34ef21;
}
label {
  display: block;
  margin-bottom: 6px;
}

input,
select,
option,
textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

textarea {
  width: 100%;
}

input[type="radio"] {
  appearance: none;
  display: inline-flex;
  width: 25px;
  height: 25px;
  padding: 6px;
  border-radius: 50%;
  margin-top: -1px;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
}

input[type="radio"]:checked {
  appearance: none;
  display: inline-flex;
  height: 25px;
  padding: 6px;
  border-radius: 50%;
  margin-top: -1px;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
}

.btn-smp {
  width: 70%;
  height: 50px;
  background: green;
  color: white;
  margin-top: 30px;
  margin-left: 55px;
  cursor: pointer;
}

.btn-smp:hover {
  background-color: rgb(204, 29, 29);
}

form {
  width: 60%;
}

#sex p {
  display: inline-flex;
}

.details {
  background-color: #fff;
  margin-top: 30px;
}

.details-text {
  color: green;
}
